doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel="shortcut icon", href="/favicon.ico")
      link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
  body
    block main
  block js
    script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    if ENV_DEVELOPMENT
      script(src='http://localhost:35729/livereload.js')
